@media screen and (min-width:480px) and (max-width:767px){
    .container{
        width: 480px;
        margin-left: auto;
        margin-right: auto;
    }
    /*_header*/
    .nav{
        display: block;
        width: 768px;
        height: 80px;
        justify-content: flex-start; 
        align-items: center;
    
        &__logo{
        @include logo-480px
        }
    
        &__logo2{
        @include logo2-480px
        }
    }
    /*_studio-application*/
    .container{
    
        &__title{
            display: flex; 
            height: 400px;
            margin-bottom: 60px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
                &::before{
                    content: "";
                    width: 480px;
                    height: 400px;
                    position: absolute;
                    background-image: url(fondo1.jpg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    z-index: -1;
                }
    
                &::after{
                    content: "";
                    width: 480px;
                    height: 400px;
                    position: absolute;
                    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
                    z-index: -1;
                }
        }
    
        &__h1{
            display: inline-block;
            width: 360px;
            height: 84px;
            padding: 0%;
            color: $secondary-color;
            font-size: 26px;
            font-weight: 900;
            line-height: 1.6;
            text-transform: uppercase; 
        }
    
        &__button{
            color: $secondary-color;
            background-color: $primary-color;
            border: 5px solid $primary-color;
            border-radius: 5px;
            font-size: 16px;
            line-height: 1.9;
            font-weight: 700;
            cursor: pointer;
        }
    }
    /*_studio-values*/

    .values{
        display: flex;
        padding: 15px;
        flex-wrap: wrap;
    
        &__icon {
            display: inline-flex;
            width: 450px;
            height: 120px;
            padding-left: 90px;
            margin-top: 30px;
            margin-bottom: 30px;
            margin-right: 30px;
            justify-content: center;
            background: #F5F4FA;
            border-radius: 4px;
            fill: $color-text-primary;
          }
    
          &__title{
            display: block;
            margin-bottom: 10px;
            margin-left: 90px;
            width: 270px;
            height: 16px;
            font-family: $font-family-primary;
            font-size: 14px;
            font-weight: 700;
            line-height: 1.1;
            text-transform: uppercase;
            text-align: center;  
        }
    
        &__description{
            display: block;
            width: 450px;
            height: 50px;
            color: $color-text-secondary;
            font-family: $font-family-primary;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.7;
        }
    }

    /*_studio-services*/
    .services{
        @include title-480px;
    }
    
    .services__devices{
        display: flex;
        padding-bottom: 30px;
        justify-content: center;
        flex-wrap: wrap;
        position: relative; 
    
        &-card{
            position: relative;
            margin-bottom: 15px;
            
            &::before{
                content: "";
                width: 370px;
                height: 100%;
                position: absolute;
                background:linear-gradient(transparent 75%,rgba(47, 48, 58, 0.8)75%,rgba(47, 48, 58, 0.8)99%, transparent 99%);
            }
        }
    
        &-images{
            width: 370px;
            height: 294px;
        }
    
        &-text{
            position: absolute;
            bottom: 15px;
            color: $secondary-color;
            font-weight: 700;
            font-size: 14px;
            margin-left: 90px;
        }
    }

    /*_studio-team*/
    .members{
    background-color:#F5F4FA;

    &__title{
        @include title-480px;
    }
    }

    .members__frame{
        padding-bottom: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .members__card{
        box-sizing: border-box;
        width: 450px;
        height: 622px;
        margin-bottom: 30px;
        background: $secondary-color;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;

        &-image{
            display: block;
            width: 450px;
            height: 460px;
        }

        &-name{
            color: $color-text-primary;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.2;
            text-align: center;
        }
        &-position{
            color: $color-text-secondary;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.2;
            text-align: center;
        }
    }

    .members__socialframe{
        display: flex;
        flex-direction: row;
        justify-content: center;

        &-icon {
            @include socialicon-color;
            display: inline-flex;
            justify-content: center;
            border-radius: 50px;
            cursor: pointer;

            &:hover {
                @include hovercolor-reverse;
            }
        }
    }
    
    .members__socialframe{
        display: flex;
        flex-direction: row;
        justify-content: center;
    
        &-icon {
            @include socialicon-color;
            display: inline-flex;
            justify-content: center;
            border-radius: 50px;
            cursor: pointer;
    
            &:hover {
                @include hovercolor-reverse;
              }
          }
    }
    /*_studio-customers*/
    .customers{
        @include title-480px;
    
        &__brands{
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 60px;
            
        }
    
        &__icon {
            @include socialicon-color;
            display: inline-flex;
            justify-content: center;
            width: 210px;
            height: 92px;
            margin: 15px;
            padding-left: 20px;
            border: 1px solid $color-icon-primary;
            border-radius: 4px;
            cursor: pointer;
    
            &:hover {
                @include hovercolor;
                background: $secondary-color;
                border: 1px solid $primary-color;
              }
          }
    }
    
    /*_footer*/
    .footer{
        background-color: #2F303A;
        padding: 0px;
    
        &--flex{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    
        &-container1{
            margin-top: 60px;
        }
    }
    
    
    .footer{
        &__logo{
            @include logo-480px;
            padding-left: 60px;
            padding-bottom: 25px;
        }
    
        &__logo2{
            @include logo3-480px;
        }
    
        &__address{
            width: 231px;
            color:$secondary-color;
            font-style: normal;
            font-size: 14px;
            line-height: 1.7;
            text-align: center;
        }

        &__contact{
            display: block;
            color: rgba(255, 255, 255, 0.6);;
            font-style: normal;
            font-size: 14px;
            line-height: 1.2;
            font-weight: 400;
            text-decoration: none;
            text-align: center;
        }
    }
    
    .footer{

        &-container2{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 0px;
            padding-bottom: 60px;
            padding-left: -100px;
        }

        &__socialmedia{
            color: $secondary-color;
            font-weight: 700;
            font-size: 14px;
            text-transform: uppercase;
            text-align: center;
        }
    
        &__icon {
            
            background:rgba(255, 255, 255, 0.1);
            border-radius: 50px;
            fill: $secondary-color;
            cursor: pointer;
        
            &:hover {
                @include hovercolor-reverse;
              }
          }
    }
/*_footer-form*/
    .form{
   
        &__subscript{
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        } 
    
        &__title-subscript{
            align-self: center;
            padding-bottom: 20px;
            font-family: $font-family-primary;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 1.1;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: $secondary-color;
          }
    
        &__email-subscript{
            display: block;
            align-self: center;
            width: 358px;
            height: 50px;
            top: 108px;
            margin-right: 10px;
            margin-bottom: 20px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 4px;
            background-color: #2F303A;
            font-family: $font-family-primary;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.3;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
          }
    }
    
    
    .form__button-subscript{
        display: block;
        justify-content: center;
        width: 200px;
        height: 50px;
        padding-top: 10px;
        margin-left: 80px;
        margin-bottom: 60px;
        background: $primary-color;
        border: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        cursor: pointer;
    
        &-title{
            position: relative;
            font-family: $font-family-primary;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.9;
            letter-spacing: 0.06em;
            color: $secondary-color;
            display: flex;
            left: 39px;
        }
          
        &-icon{
            display: flex;
            position: relative;
            left: 150px;
            bottom: 25px;
        }
      }
}