.values{
    display: flex;
    padding: 10px;

    &__icon {
        display: inline-flex;
        width: 270px;
        height: 120px;
        margin-top: 94px;
        margin-bottom: 30px;
        margin-right: 30px;
        justify-content: center;
        background: #F5F4FA;
        border-radius: 4px;
        fill: $color-text-primary;
      }

      &__title{
        display: block;
        margin-bottom: 10px;
        width: 270px;
        height: 16px;
        font-family: $font-family-primary;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.1;
        text-transform: uppercase;  
    }

    &__description{
        display: block;
        width: 270px;
        height: 75px;
        color: $color-text-secondary;
        font-family: $font-family-primary;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.7;
    }
}
